
.nav-button{
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	.nav-button_icon{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
	}
	.nav-button_name{
		color: white;
	}
}