.search-popup{
	height: 100%;
	width: 100%;

	padding: 10px;

	background-color: var(--color--foundation);
	.popup__search{
		width: 100%;
		height: 40px;
		padding: 10px;
		box-sizing: border-box;

		background-color: white;
		border-radius: 20px;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		.search_input{
			width: 100%;
			height: 100%;
			border: none;
			font-size: 23px;
		}
		.search_icon{
			height: 30px;
		}
	}
}