.services{
	width: 100%;
	overflow: scroll;
	.header{
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.limit{
			width: 300px;
		}
		.switch{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			width: 40px;
		}
	}
}
