.navigation{
	bottom: 0;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 99999;

	background-color: var(--color--main);
	
}